<div class="center">
    <h1 id="section-header">About me</h1>
    <img src="img/me/cannon_beach_selfie.jpg" class="about-pic" alt="Andrew at Haystack Rock in Cannon Beach, Oregon">
    <div>
        <h2>Andrew Kassis</h2>
        <p>I am a creative problem solver with a passion for making things better.</p>
        <p>Currently, I am finishing a Computer Science degree at California State University, Monterey Bay, while working as a Software QA Engineer at the world's leading provider of industrial automation software.</p>
        <p>My ongoing goal is to combine my software skills with my other interests, which include music, education, and environmental science.</p>
    </div>
</div>