<div class="center">
    <h1 id="section-header">CS Coursework</h1>
    <div class="data-tables">

        <h2>California State University, Monterey Bay</h2>
        <table name="csumb-courses" role="presentation">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td class="text-center">Units</td>
                    <td class="text-center">Status</td>
                    <td>Semester</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CST 300</td>
                    <td><button id="modal-btn-cst300" class="link">Major ProSeminar</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Spring A 2022</td>
                </tr>
                <tr>
                    <td>CST 338</td>
                    <td><button id="modal-btn-cst338" class="link">Software Design</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Spring B 2022</td>
                </tr>
                <tr>
                    <td>CST 363</td>
                    <td><button id="modal-btn-cst363" class="link">Introduction to Database Systems</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Summer A 2022</td>
                </tr>
                <tr>
                    <td>CST 334</td>
                    <td><button id="modal-btn-cst334" class="link">Operating Systems</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Summer B 2022</td>
                </tr>
                <tr>
                    <td>CST 311</td>
                    <td><button id="modal-btn-cst311" class="link">Introduction to Computer Networks</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Fall A 2022</td>
                </tr>
                <tr>
                    <td>CST 336</td>
                    <td><button id="modal-btn-cst336" class="link">Internet Programming</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Fall B 2022</td>
                </tr>
                <tr>
                    <td>CST 370</td>
                    <td><button id="modal-btn-cst370" class="link">Design and Analysis of Algorithms</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Spring A 2023</td>
                </tr>
                <tr>
                    <td>CST 328</td>
                    <td><button id="modal-btn-cst328" class="link">Digital Art and Design</button></td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Spring B 2023</td>
                </tr>
                <tr>
                    <td>CST 462S</td>
                    <td><button id="modal-btn-cst462s" class="link">Race, Gender, Class in the Digital World</button></td>
                    <td class="text-center">3</td>
                    <td class="text-center">In Progress</td>
                    <td>Spring B 2023</td>
                </tr>
                <tr>
                    <td>CST 383</td>
                    <td><button id="modal-btn-cst383" class="link">Introduction to Data Science</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Summer A 2023</td>
                </tr>
                <tr>
                    <td>CST 438</td>
                    <td><button id="modal-btn-cst438" class="link">Software Engineering</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Summer B 2023</td>
                </tr>
                <tr>
                    <td>CST 329</td>
                    <td><button id="modal-btn-cst329" class="link">Reasoning with Logic</button></td>
                    <td class="text-center">3</td>
                    <td class="text-center">In Progress</td>
                    <td>Fall A 2023</td>
                </tr>
                <tr>
                    <td>CST 489</td>
                    <td><button id="modal-btn-cst489" class="link">Capstone Project Planning</button></td>
                    <td class="text-center">1</td>
                    <td class="text-center">In Progress</td>
                    <td>Fall A 2023</td>
                </tr>
                <tr>
                    <td>CST 499</td>
                    <td><button id="modal-btn-cst499" class="link">Computer Science Capstone</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">Planned</td>
                    <td>Fall B 2023</td>
                </tr>
            </tbody>
        </table>

        <h2 style="display: inline">
            Los Rios Colleges
        </h2>
        <div class="tooltip">
            <svg class="info tooltip" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
            <div class="tooltiptext">
                <span class="bold">Degrees earned from:</span>
                <ul>
                    <li>
                        <div>American River College</div>
                        <div class="small-text">A.S. Math & Physical Science</div>
                    </li>
                    <li>
                        <div>Folsom Lake College</div>
                        <div class="small-text">A.S. Computer Science</div>
                    </li>
                    <li>
                        <div>Sacramento City College</div>
                        <div class="small-text">A.A. Arts & Humanities</div>
                    </li>
                </ul>
            </div>
        </div>
        <table name="los-rios-courses">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td class="text-center">Units</td>
                    <td class="text-center">Status</td>
                    <td>Semester</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CISC 323</td>
                    <!-- <td><button id="modal-btn-cisc323" class="link">Linux Operating System</button></td> -->
                    <td>Linux Operating System</td>
                    <td class="text-center">1</td>
                    <td class="text-center">A</td>
                    <td>Fall 2012</td>
                </tr>
                <tr>
                    <td>CISS 310</td>
                    <!-- <td><button id="modal-btn-ciss310" class="link">Network Security Fundamentals</button></td> -->
                    <td>Network Security Fundamentals</td>
                    <td class="text-center">3</td>
                    <td class="text-center">B</td>
                    <td>Fall 2012</td>
                </tr>
                <tr>
                    <td>CISC 324</td>
                    <!-- <td><button id="modal-btn-cisc324" class="link">Intermediate Linux Operating System</button></td> -->
                    <td>Intermediate Linux Operating System</td>
                    <td class="text-center">1</td>
                    <td class="text-center">A</td>
                    <td>Fall 2016</td>
                </tr>
                <tr>
                    <td>CISN 300</td>
                    <!-- <td><button id="modal-btn-cisn300" class="link">Network Systems Administration</button></td> -->
                    <td>Network Systems Administration</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Fall 2016</td>
                </tr>
                <tr>
                    <td>CISS 301</td>
                    <!-- <td><button id="modal-btn-ciss301" class="link">Ethical Hacking</button></td> -->
                    <td>Ethical Hacking</td>
                    <td class="text-center">2</td>
                    <td class="text-center">A</td>
                    <td>Fall 2016</td>
                </tr>
                <tr>
                    <td>CISC 310</td>
                    <!-- <td><button id="modal-btn-cisc310" class="link">Intro to Computer Information Science</button></td> -->
                    <td>Intro to Computer Information Science</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Summer 2020</td>
                </tr>
                <tr>
                    <td>CISP 300</td>
                    <!-- <td><button id="modal-btn-cisp300" class="link">Algorithm Design & Problem Solving</button></td> -->
                    <td>Algorithm Design & Problem Solving</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Summer 2020</td>
                </tr>
                <tr>
                    <td>CISP 310</td>
                    <!-- <td><button id="modal-btn-cisp310" class="link">Assembly Language</button></td> -->
                    <td>Assembly Language</td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Fall 2020</td>
                </tr>
                <tr>
                    <td>CISP 360</td>
                    <!-- <td><button id="modal-btn-cisp360" class="link">Intro to Structured Programming</button></td> -->
                    <td>Intro to Structured Programming</td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Fall 2020</td>
                </tr>
                <tr>
                    <td>CISP 400</td>
                    <td><button id="modal-btn-cisp400" class="link">Object Oriented Programming with C++</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Spring 2021</td>
                </tr>
                <tr>
                    <td>CISP 440</td>
                    <!-- <td><button id="modal-btn-cisp440" class="link">Discrete Structures for Computer Science</button></td> -->
                    <td>Discrete Structures for Computer Science</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Spring 2021</td>
                </tr>
                <tr>
                    <td>CISP 430</td>
                    <!-- <td><button id="modal-btn-cisp430" class="link">Data Structures</button></td> -->
                    <td>Data Structures</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Summer 2021</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="cst300" class="modal">
    <button id="modal-close-cst300" class="close">&times;</button>
    <h3 class="h2">CST 300 - Major ProSeminar</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16977" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 300 I conducted research into the emerging Virtual Reality (VR) industry shortly after Facebook began rebranding the Oculus Quest 2.  I learned a lot about the history of VR and key players in the industry today, as well as how to formulate career goals through a combination of research and introspection.</p>
    <p>I also wrote a paper examining the ethics around controversial surveillance tech being used in classrooms.  With recent advancements in generative AI, the skills to examine and scrutinize how we design and deploy the technologies we create are critically important.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Industry Analysis research paper</li>
        <li>Ethical Argument research paper</li>
        <li>Group video presentation on nanotechnology</li>
    </ul>
</div>
<div id="cst338" class="modal">
    <button id="modal-close-cst338" class="close">&times;</button>
    <h3 class="h2">CST 338 - Software Design</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17003" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 338, I studied the software development life cycle (SDLC) and built several Java applications of varying complexity.  I was introduced to UI programming in Java Swing and mobile development in Android Studio.</p>
    <p>To demonstrate the skills learned in this class with an original project, I wrote a very practical markdown editor in Java Swing.  Building my own tool for composing HTML from markdown saved me a lot of time when writing my weekly journal entries throughout the rest of this course and others.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li><a href="https://afkcode-csumb.blogspot.com/2022/04/week-16-cst-338-module-8.html" target="_blank">Markdown editor in Java Swing</a></li>
        <li><a href="https://afkcode-csumb.blogspot.com/2022/04/week-15-cst-338-module-7.html" target="_blank">Android app for viewing CSUMB catalog</a></li>
    </ul>
</div>
<div id="cst363" class="modal">
    <button id="modal-close-cst363" class="close">&times;</button>
    <h3 class="h2">CST 363 - Introduction to Database Systems</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17010" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>CST 363 was one of my favorite classes at CSUMB, and certainly one of the most practical.  I learned all about database architecture, Entity Relationship (ER) design, data normalization, MapReduce algorithms, and of course, SQL.</p>
    <p>As a result of this class, I am now fully comfortable designing relational database schemas and writing and optimizing complex SQL queries.  I have also gained a reasonable working knowledge of document databases such as MongoDB.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Database design for a fictional pharmacy chain</li>
    </ul>
</div>
<div id="cst334" class="modal">
    <button id="modal-close-cst334" class="close">&times;</button>
    <h3 class="h2">CST 334 - Operating Systems</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17000" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 334, I learned about the low-level mechanisms used by modern operating systems for things like process execution, concurrency and scheduling algorithms, memory I/O, and device I/O.  I implemented or simulated many of these algorithms in C++ to better understand them.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Group video presentation on undergraduate research opportunities</li>
    </ul>
</div>
<div id="cst311" class="modal">
    <button id="modal-close-cst311" class="close">&times;</button>
    <h3 class="h2">CST 311 - Introduction to Computer Networks</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16985" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 311, I learned about each of the layers in the OSI model, UDP and TCP/IP, routing algorithms, network architecture, and cryptography.  I used Mininet with Python to simulate and experiment with various network topologies, and used Wireshark to dissect packets sent between nodes.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Encrypted chat program with client and server apps</li>
    </ul>
</div>
<div id="cst336" class="modal">
    <button id="modal-close-cst336" class="close">&times;</button>
    <h3 class="h2">CST 336 - Internet Programming</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17001" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>CST 336 was a heavily project-oriented course with a high degree of creative freedom, in which I built many websites of increasing complexity each week.  While I started the course with existing HTML and CSS knowledge, I learned a lot about JavaScript, Node.js, Express, and the EJS templating engine.</p>
    <p>First I learned how to use JavaScript to manipulate the DOM and consume external APIs via fetch calls, and later I used Node.js and Express to construct my own REST APIs.  As a culminating project, I worked with a team to design and build a practical, full-stack website designed to help job-seekers organize job applications throughout their search.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Pokemon API</li>
        <li>AppliTrack (job application tracker website)</li>
    </ul>
</div>
<div id="cst370" class="modal">
    <button id="modal-close-cst370" class="close">&times;</button>
    <h3 class="h2">CST 370 - Design and Analysis of Algorithms</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17012" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 370, I learned how to analyze algorithmic complexity in order to understand what makes a solution optimal.  I studied fundamental data structures including binary trees, AVL trees, and heaps, and implemented applications for dozens of fundamental algorithms in C++ for sorting, searching, hashing, and pathfinding.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>N/A</li>
    </ul>
</div>
<div id="cst328" class="modal">
    <button id="modal-close-cst328" class="close">&times;</button>
    <h3 class="h2">CST 328 - Digital Art and Design</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16995" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 328, I learned how to design and prototype interactive UI wireframes using Adobe XD, create vector graphics using Adobe Illustrator, and even built a few scenes in Unity as a brief introduction to game development.</p>
    <p>For my final project, I created a video presentation documenting the design process for a prototype mobile application designed to provide convenient access to an aggregate of generative AI backends.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>CAIA (Centralized AI Assistant)</li>
    </ul>
</div>
<div id="cst462s" class="modal">
    <button id="modal-close-cst462s" class="close">&times;</button>
    <h3 class="h2">CST 462S - Race, Gender, Class in the Digital World</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17039" target="_blank">View catalog description (external)</a>
</div>
<div id="cst383" class="modal">
    <button id="modal-close-cst383" class="close">&times;</button>
    <h3 class="h2">CST 383 - Introduction to Data Science</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17016" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 383, I learned how to use Python's data science and machine learning libraries to solve complex statistical analysis problems and visualize the results.  I worked with jupyter notebooks extensively to draft solutions using data science libraries including numpy, pandas, and scikit-learn, with matplotlib, seaborn, and graphviz for visualization.</p>
    <p>As a final project, I worked in a team with three other students to develop a machine learning model capable of predicting survival rates of horses with colic with over 96% accuracy.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li><a href="https://youtu.be/-TALKPc59oE?si=FlhGKch98H6-Q2hx" target="_blank">Predicting Horse Colic Survival: A Machine Learning Approach for Early Intervention</a></li>
    </ul>
</div>
<div id="cst438" class="modal">
    <button id="modal-close-cst438" class="close">&times;</button>
    <h3 class="h2">CST 438 - Software Engineering</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17035" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>In CST 438, I learned about the Software Development Lifecycle (SDLC), development methodologies including Agile and Waterfall, best practices for testing, and how to develop and document software requirement specifications (SRS)</p>
    <p>I built a microservice for a course management application in Java SpringBoot with a React frontend, and later integrated it with a gradebook microservice developed in parallel by another student.  This required significant coordination to ensure that our services could communicate through a common message broker (RabbitMQ).  We utilized Mockito for unit testing, Selenium for end-to-end UI testing, and Postman for API testing, as well as Pivotal Tracker for managing user stories and storing design prototypes.</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Class Registration Microservice</li>
    </ul>
</div>
<div id="cst329" class="modal">
    <button id="modal-close-cst329" class="close">&times;</button>
    <h3 class="h2">CST 329 - Reasoning with Logic</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16996" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>Currently in progress, check back in a few weeks!</p>
</div>
<div id="cst489" class="modal">
    <button id="modal-close-cst489" class="close">&times;</button>
    <h3 class="h2">CST 489 - Capstone Project Planning</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=18692" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>Currently in progress, check back in a few weeks!</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Capstone Proposal</li>
    </ul>
</div>
<div id="cst499" class="modal">
    <button id="modal-close-cst499" class="close">&times;</button>
    <h3 class="h2">CST 499 - Computer Science Capstone</h3>
    <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17048" target="_blank">View catalog description (external)</a>
    <h4 class="h3">What I learned:</h4>
    <p>Not yet completed, check back in December!</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>FFXI.social</li>
    </ul>
</div>

<div id="cisc323" class="modal">
    <button id="modal-close-cisc323" class="close">&times;</button>
    <h3 class="h2">CISC 323 - Linux Operating System</h3>
</div>
<div id="ciss310" class="modal">
    <button id="modal-close-ciss310" class="close">&times;</button>
    <h3 class="h2">CISS 310 - Network Security Fundamentals</h3>
</div>
<div id="cisc324" class="modal">
    <button id="modal-close-cisc324" class="close">&times;</button>
    <h3 class="h2">CISC 324 - Intermediate Linux Operating System</h3>
</div>
<div id="cisn300" class="modal">
    <button id="modal-close-cisn300" class="close">&times;</button>
    <h3 class="h2">CISN 300 - Network Systems Administration</h3>
</div>
<div id="ciss301" class="modal">
    <button id="modal-close-ciss301" class="close">&times;</button>
    <h3 class="h2">CISS 301 - Ethical Hacking</h3>
</div>
<div id="cisc310" class="modal">
    <button id="modal-close-cisc310" class="close">&times;</button>
    <h3 class="h2">CISC 310 - Intro to Computer Information Science</h3>
</div>
<div id="cisp300" class="modal">
    <button id="modal-close-cisp300" class="close">&times;</button>
    <h3 class="h2">CISP 300 - Algorithm Design & Problem Solving</h3>
</div>
<div id="cisp310" class="modal">
    <button id="modal-close-cisp310" class="close">&times;</button>
    <h3 class="h2">CISP 310 - Assembly Language</h3>
</div>
<div id="cisp360" class="modal">
    <button id="modal-close-cisp360" class="close">&times;</button>
    <h3 class="h2">CISP 360 - Intro to Structured Programming</h3>
</div>
<div id="cisp400" class="modal">
    <button id="modal-close-cisp400" class="close">&times;</button>
    <h3 class="h2">CISP 400 - Object Oriented Programming with C++</h3>
    <h4 class="h3">What I learned:</h4>
    <p>TODO</p>
    <h4 class="h3">Major projects:</h4>
    <ul>
        <li>Satellite image data renderer with pathfinding</li>
        <li>Mandelbrot set generator UI</li>
        <li>TOEFL solver using cosine similarity</li>
    </ul>
</div>
<div id="cisp440" class="modal">
    <button id="modal-close-cisp440" class="close">&times;</button>
    <h3 class="h2">CISP 440 - Discrete Structures for Computer Science</h3>
</div>
<div id="cisp430" class="modal">
    <button id="modal-close-cisp430" class="close">&times;</button>
    <h3 class="h2">CISP 430 - Data Structures</h3>
</div>
