<div class="center">
    <h1>About me</h1>
    <img src="img/me/cannon_beach_selfie.jpg" class="about-pic" alt="Andrew at Haystack Rock in Cannon Beach, Oregon">
    <div>
        <h2>Andrew Kassis</h2>
        <p>I am a creative problem solver with a passion for making things better.</p>
        <p>I currently work as a QA Engineer at North America's largest provider of K-12 software, and I'm finishing up my CS degree through CSUMB's Computer Science Online program.</p>
        <p>My ongoing goal is to combine my software engineering skills with my other passions, which include music, education, VR, and environmental sustainability.</p>
    </div>
</div>