<div class="column">
    <h1 class="left">Contact</h1>
    <form id="contact" method="post" autocomplete="on">
        <div class="full-width">
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="email">Email</label>
            <input type="text" id="email">
        </div>
        <div class="full-width">
            <label for="comments">Comments</label>
            <input type="textarea" id="comments">
        </div>
        <div class="full-width">
            <button disabled>Send</button>
        </div>
    </form>
</div>