<div class="center">
    <h1>Contact</h1>
    <form id="contact" method="post" autocomplete="on">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="email">Email</label>
            <input type="text" id="email">
        </div>
        <div>
            <label for="comments">Comments</label>
            <input type="textarea" id="comments" rows="10" cols="80">
        </div>
        <div>
            <button disabled>Send</button>
        </div>
    </form>
</div>