<div class="center">
    <h1>Courses</h1>
    <div class="data-tables">

        <table>
            <thead>
                <tr>
                    <td colspan=6><h2>California State University: Monterey Bay</h2></td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Units</td>
                    <td>Status</td>
                    <td>Semester</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CST 300</td>
                    <td><a href="#">Major ProSeminar</a></td>
                    <td class="text-center">4</td>
                    <td>Completed</td>
                    <td>2022 Spring A</td>
                </tr>
                <tr>
                    <td>CST 334</td>
                    <td><a href="#">Software Design</a></td>
                    <td class="text-center">4</td>
                    <td>Completed</td>
                    <td>2022 Spring B</td>
                </tr>
                <tr>
                    <td>CST 363</td>
                    <td><a href="#">Database Management</a></td>
                    <td class="text-center">4</td>
                    <td>Completed</td>
                    <td>2022 Summer A</td>
                </tr>
                <tr>
                    <td>CST 334</td>
                    <td><a href="#">Operating Systems</a></td>
                    <td class="text-center">4</td>
                    <td>Completed</td>
                    <td>2022 Summer B</td>
                </tr>
                <tr>
                    <td>CST 311</td>
                    <td><a href="#">Intro to Computer Networking</a></td>
                    <td class="text-center">4</td>
                    <td>Completed</td>
                    <td>2022 Fall A</td>
                </tr>
                <tr>
                    <td>CST 336</td>
                    <td><a href="#">Internet Programming</a></td>
                    <td class="text-center">4</td>
                    <td>In Progress</td>
                    <td>2022 Fall B</td>
                </tr>
                <tr>
                    <td>CST 370</td>
                    <td><a href="#">Algorithms</a></td>
                    <td class="text-center">4</td>
                    <td>Planned</td>
                    <td>2023 Spring A</td>
                </tr>
                <tr>
                    <td>CST 328</td>
                    <td><a href="#">Digital Art and Design</a></td>
                    <td class="text-center">3</td>
                    <td>Planned</td>
                    <td>2023 Spring B</td>
                </tr>
                <tr>
                    <td>CST 462S</td>
                    <td><a href="#">Race, Gender, Class in the Digital World</a></td>
                    <td class="text-center">3</td>
                    <td>Planned</td>
                    <td>2023 Spring B</td>
                </tr>
                <tr>
                    <td>CST 383</td>
                    <td><a href="#">Intro to Data Science</a></td>
                    <td class="text-center">4</td>
                    <td>Planned</td>
                    <td>2023 Summer A</td>
                </tr>
                <tr>
                    <td>CST 438</td>
                    <td><a href="#">Software Engineering</a></td>
                    <td class="text-center">4</td>
                    <td>Planned</td>
                    <td>2023 Summer B</td>
                </tr>
                <tr>
                    <td>CST 329</td>
                    <td><a href="#">Reasoning with Logic</a></td>
                    <td class="text-center">3</td>
                    <td>Planned</td>
                    <td>2023 Fall A</td>
                </tr>
                <tr>
                    <td>CST 489</td>
                    <td><a href="#">Capstone Project Planning</a></td>
                    <td class="text-center">1</td>
                    <td>Planned</td>
                    <td>2023 Fall A</td>
                </tr>
                <tr>
                    <td>CST 499</td>
                    <td><a href="#">Directed Group Capstone</a></td>
                    <td class="text-center">4</td>
                    <td>Planned</td>
                    <td>2023 Fall B</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <td colspan=6>
                        <h2>
                            Los Rios Colleges
                            <svg class="info" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="16" x2="12" y2="12"></line>
                                <line x1="12" y1="8" x2="12.01" y2="8"></line>
                            </svg>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Units</td>
                    <td>Status</td>
                    <td>Semester</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CISC 310</td>
                    <td><a href="#">Intro to Computer Information Science</a></td>
                    <td>3</td>
                    <td>Completed</td>
                    <td>Summer 2020</td>
                </tr>
                <tr>
                    <td>CISP 300</td>
                    <td><a href="#">Algorithm Design & Problem Solving</a></td>
                    <td>3</td>
                    <td>Completed</td>
                    <td>Summer 2020</td>
                </tr>
                <tr>
                    <td>CISP 310</td>
                    <td><a href="#">Assembly Language</a></td>
                    <td>4</td>
                    <td>Completed</td>
                    <td>Fall 2020</td>
                </tr>
                <tr>
                    <td>CISP 360</td>
                    <td><a href="#">Intro to Structured Programming</a></td>
                    <td>4</td>
                    <td>Completed</td>
                    <td>Fall 2020</td>
                </tr>
                <tr>
                    <td>CISP 400</td>
                    <td><a href="#">Object Oriented Programming with C++</a></td>
                    <td>4</td>
                    <td>Completed</td>
                    <td>Spring 2021</td>
                </tr>
                <tr>
                    <td>CISP 440</td>
                    <td><a href="#">Discrete Structures for Computer Science</a></td>
                    <td>3</td>
                    <td>Completed</td>
                    <td>Spring 2021</td>
                </tr>
            </tbody>
        </table>

    </div>    
</div>