<div class="center">
    <h1>CS Coursework</h1>
    <div class="data-tables">

        <h2>California State University: Monterey Bay</h2>
        <table name="csumb-courses">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td class="text-center">Units</td>
                    <td class="text-center">Status</td>
                    <td>Semester</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CST 300</td>
                    <td><button id="modal-btn-cst300" class="link">Major ProSeminar</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A+</td>
                    <td>Spring A 2022</td>
                </tr>
                <tr>
                    <td>CST 338</td>
                    <td><button id="modal-btn-cst338" class="link">Software Design</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A+</td>
                    <td>Spring B 2022</td>
                </tr>
                <tr>
                    <td>CST 363</td>
                    <td><button id="modal-btn-cst363" class="link">Introduction to Database Systems</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A+</td>
                    <td>Summer A 2022</td>
                </tr>
                <tr>
                    <td>CST 334</td>
                    <td><button id="modal-btn-cst334" class="link">Operating Systems</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A+</td>
                    <td>Summer B 2022</td>
                </tr>
                <tr>
                    <td>CST 311</td>
                    <td><button id="modal-btn-cst311" class="link">Introduction to Computer Networks</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A+</td>
                    <td>Fall A 2022</td>
                </tr>
                <tr>
                    <td>CST 336</td>
                    <td><button id="modal-btn-cst336" class="link">Internet Programming</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A+</td>
                    <td>Fall B 2022</td>
                </tr>
                <tr>
                    <td>CST 370</td>
                    <td><button id="modal-btn-cst370" class="link">Design and Analysis of Algorithms</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">In Progress</td>
                    <td>Spring A 2023</td>
                </tr>
                <tr>
                    <td>CST 328</td>
                    <td><button id="modal-btn-cst328" class="link">Digital Art and Design</button></td>
                    <td class="text-center">3</td>
                    <td class="text-center">Planned</td>
                    <td>Spring B 2023</td>
                </tr>
                <tr>
                    <td>CST 462S</td>
                    <td><button id="modal-btn-cst462s" class="link">Race, Gender, Class in the Digital World</button></td>
                    <td class="text-center">3</td>
                    <td class="text-center">Planned</td>
                    <td>Spring B 2023</td>
                </tr>
                <tr>
                    <td>CST 383</td>
                    <td><button id="modal-btn-cst383" class="link">Introduction to Data Science</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">Planned</td>
                    <td>Summer A 2023</td>
                </tr>
                <tr>
                    <td>CST 438</td>
                    <td><button id="modal-btn-cst438" class="link">Software Engineering</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">Planned</td>
                    <td>Summer B 2023</td>
                </tr>
                <tr>
                    <td>CST 329</td>
                    <td><button id="modal-btn-cst329" class="link">Reasoning with Logic</button></td>
                    <td class="text-center">3</td>
                    <td class="text-center">Planned</td>
                    <td>Fall A 2023</td>
                </tr>
                <tr>
                    <td>CST 489</td>
                    <td><button id="modal-btn-cst489" class="link">Capstone Project Planning</button></td>
                    <td class="text-center">1</td>
                    <td class="text-center">Planned</td>
                    <td>Fall A 2023</td>
                </tr>
                <tr>
                    <td>CST 499</td>
                    <td><button id="modal-btn-cst499" class="link">Computer Science Capstone</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">Planned</td>
                    <td>Fall B 2023</td>
                </tr>
            </tbody>
        </table>

        <h2>
            Los Rios Colleges
            <svg class="info" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
        </h2>
        <table name="los-rios-courses">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td class="text-center">Units</td>
                    <td class="text-center">Status</td>
                    <td>Semester</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CISC 323</td>
                    <!-- <td><button id="modal-btn-cisc323" class="link">Linux Operating System</button></td> -->
                    <td>Linux Operating System</td>
                    <td class="text-center">1</td>
                    <td class="text-center">A</td>
                    <td>Fall 2012</td>
                </tr>
                <tr>
                    <td>CISS 310</td>
                    <!-- <td><button id="modal-btn-ciss310" class="link">Network Security Fundamentals</button></td> -->
                    <td>Network Security Fundamentals</td>
                    <td class="text-center">3</td>
                    <td class="text-center">B</td>
                    <td>Fall 2012</td>
                </tr>
                <tr>
                    <td>CISC 324</td>
                    <!-- <td><button id="modal-btn-cisc324" class="link">Intermediate Linux Operating System</button></td> -->
                    <td>Intermediate Linux Operating System</td>
                    <td class="text-center">1</td>
                    <td class="text-center">A</td>
                    <td>Fall 2016</td>
                </tr>
                <tr>
                    <td>CISN 300</td>
                    <!-- <td><button id="modal-btn-cisn300" class="link">Network Systems Administration</button></td> -->
                    <td>Network Systems Administration</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Fall 2016</td>
                </tr>
                <tr>
                    <td>CISS 301</td>
                    <!-- <td><button id="modal-btn-ciss301" class="link">Ethical Hacking</button></td> -->
                    <td>Ethical Hacking</td>
                    <td class="text-center">2</td>
                    <td class="text-center">A</td>
                    <td>Fall 2016</td>
                </tr>
                <tr>
                    <td>CISC 310</td>
                    <!-- <td><button id="modal-btn-cisc310" class="link">Intro to Computer Information Science</button></td> -->
                    <td>Intro to Computer Information Science</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Summer 2020</td>
                </tr>
                <tr>
                    <td>CISP 300</td>
                    <!-- <td><button id="modal-btn-cisp300" class="link">Algorithm Design & Problem Solving</button></td> -->
                    <td>Algorithm Design & Problem Solving</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Summer 2020</td>
                </tr>
                <tr>
                    <td>CISP 310</td>
                    <!-- <td><button id="modal-btn-cisp310" class="link">Assembly Language</button></td> -->
                    <td>Assembly Language</td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Fall 2020</td>
                </tr>
                <tr>
                    <td>CISP 360</td>
                    <!-- <td><button id="modal-btn-cisp360" class="link">Intro to Structured Programming</button></td> -->
                    <td>Intro to Structured Programming</td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Fall 2020</td>
                </tr>
                <tr>
                    <td>CISP 400</td>
                    <td><button id="modal-btn-cisp400" class="link">Object Oriented Programming with C++</button></td>
                    <td class="text-center">4</td>
                    <td class="text-center">A</td>
                    <td>Spring 2021</td>
                </tr>
                <tr>
                    <td>CISP 440</td>
                    <!-- <td><button id="modal-btn-cisp440" class="link">Discrete Structures for Computer Science</button></td> -->
                    <td>Discrete Structures for Computer Science</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Spring 2021</td>
                </tr>
                <tr>
                    <td>CISP 430</td>
                    <!-- <td><button id="modal-btn-cisp430" class="link">Data Structures</button></td> -->
                    <td>Data Structures</td>
                    <td class="text-center">3</td>
                    <td class="text-center">A</td>
                    <td>Summer 2021</td>
                </tr>
            </tbody>
        </table>

        <div id="cst300" class="modal">
            <button id="modal-close-cst300" class="close">&times;</button>
            <h3 class="h2">CST 300 - Major ProSeminar</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16977" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst338" class="modal">
            <button id="modal-close-cst338" class="close">&times;</button>
            <h3 class="h2">CST 338 - Software Design</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17003" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst363" class="modal">
            <button id="modal-close-cst363" class="close">&times;</button>
            <h3 class="h2">CST 363 - Introduction to Database Systems</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17010" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst334" class="modal">
            <button id="modal-close-cst334" class="close">&times;</button>
            <h3 class="h2">CST 334 - Operating Systems</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17000" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst311" class="modal">
            <button id="modal-close-cst311" class="close">&times;</button>
            <h3 class="h2">CST 311 - Introduction to Computer Networks</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16985" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst336" class="modal">
            <button id="modal-close-cst336" class="close">&times;</button>
            <h3 class="h2">CST 336 - Internet Programming</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17001" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst370" class="modal">
            <button id="modal-close-cst370" class="close">&times;</button>
            <h3 class="h2">CST 370 - Design and Analysis of Algorithms</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17012" target="_blank">View in course catalog</a>
            <h4 class="h3">Description:</h4>
            <p></p>
            <h4 class="h3">What I learned:</h4>
            <p></p>
            <h4 class="h3">Projects:</h4>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div id="cst328" class="modal">
            <button id="modal-close-cst328" class="close">&times;</button>
            <h3 class="h2">CST 328 - Digital Art and Design</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16995" target="_blank">View in course catalog</a>
        </div>
        <div id="cst462s" class="modal">
            <button id="modal-close-cst462s" class="close">&times;</button>
            <h3 class="h2">CST 462S - Race, Gender, Class in the Digital World</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17039" target="_blank">View in course catalog</a>
        </div>
        <div id="cst383" class="modal">
            <button id="modal-close-cst383" class="close">&times;</button>
            <h3 class="h2">CST 383 - Introduction to Data Science</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17016" target="_blank">View in course catalog</a>
        </div>
        <div id="cst438" class="modal">
            <button id="modal-close-cst438" class="close">&times;</button>
            <h3 class="h2">CST 438 - Software Engineering</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17035" target="_blank">View in course catalog</a>
        </div>
        <div id="cst329" class="modal">
            <button id="modal-close-cst329" class="close">&times;</button>
            <h3 class="h2">CST 329 - Reasoning with Logic</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=16996" target="_blank">View in course catalog</a>
        </div>
        <div id="cst489" class="modal">
            <button id="modal-close-cst489" class="close">&times;</button>
            <h3 class="h2">CST 489 - Capstone Project Planning</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=18692" target="_blank">View in course catalog</a>
        </div>
        <div id="cst499" class="modal">
            <button id="modal-close-cst499" class="close">&times;</button>
            <h3 class="h2">CST 499 - Computer Science Capstone</h3>
            <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=8&coid=17048" target="_blank">View in course catalog</a>
        </div>
        
        <div id="cisc323" class="modal">
            <button id="modal-close-cisc323" class="close">&times;</button>
            <h3 class="h2">CISC 323 - Linux Operating System</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="ciss310" class="modal">
            <button id="modal-close-ciss310" class="close">&times;</button>
            <h3 class="h2">CISS 310 - Network Security Fundamentals</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisc324" class="modal">
            <button id="modal-close-cisc324" class="close">&times;</button>
            <h3 class="h2">CISC 324 - Intermediate Linux Operating System</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisn300" class="modal">
            <button id="modal-close-cisn300" class="close">&times;</button>
            <h3 class="h2">CISN 300 - Network Systems Administration</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="ciss301" class="modal">
            <button id="modal-close-ciss301" class="close">&times;</button>
            <h3 class="h2">CISS 301 - Ethical Hacking</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisc310" class="modal">
            <button id="modal-close-cisc310" class="close">&times;</button>
            <h3 class="h2">CISC 310 - Intro to Computer Information Science</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisp300" class="modal">
            <button id="modal-close-cisp300" class="close">&times;</button>
            <h3 class="h2">CISP 300 - Algorithm Design & Problem Solving</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisp310" class="modal">
            <button id="modal-close-cisp310" class="close">&times;</button>
            <h3 class="h2">CISP 310 - Assembly Language</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisp360" class="modal">
            <button id="modal-close-cisp360" class="close">&times;</button>
            <h3 class="h2">CISP 360 - Intro to Structured Programming</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisp400" class="modal">
            <button id="modal-close-cisp400" class="close">&times;</button>
            <h3 class="h2">CISP 400 - Object Oriented Programming with C++</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisp440" class="modal">
            <button id="modal-close-cisp440" class="close">&times;</button>
            <h3 class="h2">CISP 440 - Discrete Structures for Computer Science</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>
        <div id="cisp430" class="modal">
            <button id="modal-close-cisp430" class="close">&times;</button>
            <h3 class="h2">CISP 430 - Data Structures</h3>
            <span>Los Rios does not provide direct links to courses</span>
        </div>

    </div>    
</div>