<div class="projects">
    <h1 id="section-header">Projects</h1>
    <div>
        <ul class="project-list">
            <li><div class="project-card"><button class="link" project-id="1">placeholder</button></div></li>
            <li><div class="project-card"><button class="link" project-id="2">placeholder</button></div></li>
            <li><div class="project-card"><button class="link" project-id="3">placeholder</button></div></li>
            <li><div class="project-card"><button class="link" project-id="4">placeholder</button></div></li>
            <li><div class="project-card"><button class="link" project-id="5">placeholder</button></div></li>
            <li><div class="project-card"><button class="link" project-id="6">placeholder</button></div></li>
            <li><div class="project-card"><button class="link" project-id="7">placeholder</button></div></li>
        </ul>
    </div>
    <div class="project-data">

    </div>
</div>