<div class="projects">
    <h1 id="section-header">Projects</h1>
    <ul class="project-list">
        <li><div class="project-card">placeholder</div></li>
        <li><div class="project-card">placeholder</div></li>
        <li><div class="project-card">placeholder</div></li>
        <li><div class="project-card">placeholder</div></li>
        <li><div class="project-card">placeholder</div></li>
        <li><div class="project-card">placeholder</div></li>
        <li><div class="project-card">placeholder</div></li>
    </ul>
</div>