:root {
    --page-border-size: 7px;

    /* base16 Tomorrow */
    --gray-100: #272727;
    --gray-80: #60605f;
    --gray-60: #9fa19e;
    --gray-40: #dedede;
    --gray-20: #f2f2f2;
    --gray-0: #ffffff;
    --red: #d43e36;
    --orange: #f99927;
    --yellow: #efc200;
    --green: #839b00;
    --blue: #4ba8af;
    --indigo: #5286bc;
    --violet: #9c71b7;
}
.dark {
    /* base16 Tomorrow Night */
    --gray-0: #27292c;
    --gray-20: #35383c;
    --gray-40: #474c52;
    --gray-60: #a7a8a7;
    --gray-80: #d7dad8;
    --gray-100: #e4e4e4;
    --red: #d77c79;
    --orange: #e6a472;
    --yellow: #f4cf86;
    --green: #c2c77b;
    --blue: #9ac9c4;
    --indigo: #92b2ca;
    --violet: #c0a7c7;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: var(--gray-0);
    color: var(--gray-100);
}
body, button, input, select {
    font-family: 'Epilogue', Arial, sans-serif;
}
#page-border {
    border: var(--page-border-size) solid var(--gray-40);
    height: 100%;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative;
    display: flex;
    flex-direction: column;
}
a {
    color: var(--indigo);
    text-decoration: none;
}
nav, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex-grow: 0;
    z-index: 10;
}
footer {
    align-items: center;
}
nav ul, footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav a {
    padding: 1rem 0.8rem;
    line-height: 3rem;
    transition: background-color 150ms;
}
nav a:hover, button:hover {
    background-color: var(--gray-40);
    transition: background-color 200ms;
}
button {
    color: var(--indigo);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 3rem;
    padding: 0 0.8rem;
}
#nav-left a {
    padding: 1.5rem 1.2rem 0rem 0.75rem;
    position: absolute;
    font-size: 3rem;
    font-family: 'Condiment', Arial, sans-serif;
}
main {
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 100%;
}
footer {
    justify-content: space-between;
    width: 100%;
    background-color: var(--gray-20);
    color: var(--gray-60);
    padding: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
.social-icon {
    fill: var(--gray-60);
    height: 2rem;
    padding: 0 var(--page-border-size);
    transition: 40ms;
}
.social-icon:hover {
    fill: var(--gray-100);
    transform: scale(1.3);
    transition: 120ms;
}

.red {
    color: var(--red);
}
.violet {
    color: var(--violet);
}
