:root {
    --black: #27292c;
    --gray4: #35383c;
    --gray3: #474c52;
    --gray2: #a7a8a7;
    --gray1: #d7dad8;
    --white: #e4e4e4;
    --red: #d77c79;
    --orange: #e6a472;
    --yellow: #f4cf86;
    --green: #c2c77b;
    --blue: #9ac9c4;
    --indigo: #92b2ca;
    --violet: #c0a7c7;
    --bordersize: 7px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Epilogue', Arial, sans-serif;
}
#page-border {
    border: var(--bordersize) solid var(--gray4);
    height: 100%;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative;
}
a {
    color: var(--indigo);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav ul, footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav a {
    padding: 1rem 0.8rem;
    line-height: 3rem;
    transition: background-color 150ms;
}
nav a:hover {
    background-color: var(--gray4);
    transition: background-color 200ms;
}
#nav-left a {
    padding: 1.5rem 1.2rem 0rem 0.75rem;
    position: absolute;
    font-size: 3rem;
    font-family: 'Condiment', Arial, sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray4);
    width: 100%;
    padding: var(--bordersize) 0.25rem 0  0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
.social-icon {
    position: relative;
    height: 2rem;
    fill: var(--white);
    padding: 0 var(--bordersize);
}
.social-icon:hover {
    transform: scale(1.25);
    transition: transform 200ms;
}

.red {
    color: var(--red);
}
.orange {
    color: var(--red);
}
.yellow {
    color: var(--red);
}
.green {
    color: var(--green);
}
.blue {
    color: var(--blue);
}
.indigo {
    color: var(--indigo);
}
.violet {
    color: var(--violet);
}
.black {
    color: var(--black);
}
.gray-4 {
    color: var(--gray4);
}
.gray-3 {
    color: var(--gray3);
}
.gray-2 {
    color: var(--gray2);
}
.gray-1 {
    color: var(--gray1);
}
.white {
    color: var(--white);
}